* {
  box-sizing: border-box;
}

body {
  background-color: #0f0e17;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #a7a9be;
  width: 200px;
  height: 50px;
}

a {
  color: #fffffe;
  font-size: 1.4rem;
  margin: 10px;
}

i {
  font-size: 1.6rem;
  color: #ff8906;
}
